body{
    font-family: 'Roboto', sans-serif;
    background-color: #264653;
    color: white;
    margin: 0;
    transition: 0.5s ease-in-out;
}

.header{
    text-align: center;
}

.header-image{
    width: 300px;
    height: 300px;
    border-radius: 50%;
    transition: 0.5s ease-in-out;
}

.header-image:hover{
    box-shadow: 1px 0px 4px 4px #2A9D8F;
    transform: scale(1.1);
}

.main-content{
    margin: 25px;
    padding: 5px;
    text-align: center;
}

.row{
    display: inline-flex;
}

.col-half{
    width: 50%;
    padding: 10px;
}

.button{
    height: 50px;
    width: 150px;
    border-radius: 35px;
    border: none;
    background-color: #184e77;
    color: white;
    transition: 0.5s ease-in-out;
}

.button:active{
    transform: translateY(-10px);
}

.button:hover{
    box-shadow: 1px 0px 4px 4px #f1faee;
}

.url{
    color: white;
    text-decoration: underline white;
}

