body{
    font-family: 'Roboto', sans-serif;
    background-color: #264653;
    color: white;
    margin: 0;
}

.header{
    text-align: center;
}

.header-image{
    width: 300px;
    height: 300px;
    border-radius: 50%;
    
    transition: 0.5s ease-in-out;
}

.header-image:hover{
    transform: scale(1.1);
    box-shadow: 1px 0px 4px 5px #2a9d8f;
}